<html>
    <body>
        <!-- Mise à jour de la table historiquestats dans la base de données ifppo  -->
        <h1>Update OK</h1> 
        <script language='javascript'>var obj_window = window.open('', '_self');obj_window.opener = window;obj_window.focus();opener=self;self.close();</script>
    </body>
</html>
